.Container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap;
}
.NavContainer{
    position: absolute;
    display: flex;
    height: 100%;
    width: 150px;
}
.NavColorContainer{
    height: 100px;
}