.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.NavBasketContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    flex-wrap: nowrap;
}

.card {
    width: 100%;
    margin: auto;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 10px;

}

.checkbox {
    margin: 0px;
    padding: 0px;

}

.checkbox input {
    width: 20px;
    height: 20px;
}


.delete {
    width: auto;
    align-items: center;
    flex-wrap: nowrap;
}

.delete button {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    padding: 0px;

}

.CardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

@media (max-width: 1000px) {
    .NavBasketContainer {
        flex-wrap: wrap;
    }
}

.NavEmptyBasket {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616
        /* background-color: aliceblue; */
}

.NavText {
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-size: 3vw;
    color: rgba(240, 248, 255, 0.349);
}

@media (max-width: 690px) {
    .NavText {
        font-size: 8vw;
    }
}

.cardIcon {
    font-size: 95vw;
    max-width: 400px;
    max-height: 400px;
    color: rgb(70, 70, 70);
}