.li {
    color: rgb(189, 189, 189) !important;
}

.li:hover {
    color: rgb(255, 255, 255) !important;
}

.card {
    max-width: 300px;
    height: 300px;
    margin-bottom: 30px;
    margin: auto;
    padding-bottom: 20px;
    color: #fff;
}