.Container {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;

}

span {
    color: #fff;
    font-size: 18px;
}

.price {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

.button {
    margin: 20px;
}

h5 {
    font-size: 30px;
    color: #fff;
}

.counter button {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;

}

.counter span {
    color: rgb(255, 255, 255);
    margin: 5px;

}