.NavContainer {
    display: flex;
    height: 100%;
    width: 150px;
}

.NavColorContainer {
    height: 100%;
}

.imgCard {
    height: 60%;
    width: 60%;
    max-width: 150px;
    border-radius: 10px;
}

.title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
}

.card {
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 15px;
}

.CardBody {
    display: flex;
    justify-content: space-between;
}

.checkbox {
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.checkbox input {
    width: 20px;
    height: 20px;
}

.price {
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: 600;
}

.counter {
    width: auto;
    align-items: center;
    flex-wrap: nowrap;
}

.counter button {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    padding: 0px;

}

.counter span {
    color: #000;
    margin: 10px;
}