.Container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap;
}

.NavContainer {
    display: flex;
    height: 100%;
    width: 150px;
}

.NavColorContainer {
    height: 100%;
}

.imgCard {
    height: 300px;
}

.title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 3.9em;
}
.card{
    width: 18rem; 
    margin: auto;
    margin-bottom: 30px;
}
